body{
    background-color: #dcdde1;
}
.container{
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
    text-align: center;
}
#buttons img{
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 25%;
    padding: 20px;
}
h1{
    font-size: 80px;
}
.instruction{
    font-size: 20px;
}
.welcomming{
    font-size: 30px;
}
#messages{
    font-size: 40px;
}